<div class="container">
	<div
		class="main-body">

		<!-- /Breadcrumb -->

		<div class="row gutters-sm">
			<div class="col-md-4 mb-3">
				<div class="card">
					<div class="card-body">
						<div class="d-flex flex-column align-items-center text-center">
							{# <img src="" alt="Admin" class="rounded-circle" width="150"> #}
							<div class="mt-3">
								<h4>{{ user.userName }}</h4>
								<button class="btn btn-outline-dark">Message</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<div class="card mb-3">
					<div class="card-body">
						<div class="row">
							<div class="col-sm-3">
								<h6 class="mb-0">Nom</h6>
							</div>
							<div class="col-sm-9">
								{{user.userName}}
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-3">
								<h6 class="mb-0">Email</h6>
							</div>
							<div class="col-sm-9 text-secondary">
								{{user.email}}
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-3">
								<h6 class="mb-0">Mobile</h6>
							</div>
							<div
								class="col-sm-9 text-secondary">
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-12">
								<a class="btn btn-dark " href="#">Edit</a>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
		<div class="col-md-12">
			<div class="card mb-3">
				<div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3>Voitures en ventes</h3>
                        </div>
                        {% if user is same as (app.user) %}
                            <div class="col-sm-6 d-flex flex-row-reverse">
                                <a class="btn btn-dark float-end" target="__blank" href="{{ path('voitures_create') }}">Vendre une voiture</a>
                            </div>
                        {% endif %}


						{% if user.voitures | length > 0 %}
								{% for voiture in user.voitures %}
									<div class="card mb-3" style="margin-left: 25%;max-width: 540px; margin-top: 15px">
										<div class="row no-gutters mt-4">
											<div class="col-md-4">
												<img src="{{ vich_uploader_asset(voiture.imagesVoitures[0], 'imageFile') }}" class="w-100 h-100"/>
											</div>
											<div class="col-md-8">
												<div class="card-body">
													<h5 class="card-title">{{voiture.marques}} {{voiture.modelName}}</h5>
												</div>
											</div>
										</div>
										<div class="controlCardUserP">
											<a href="{{ path('voitures_edit', {slug: voiture.slug}) }}">Modifier</a>
											{{ include('voitures/partials/_delete_form.html.twig') }}
										</div>
										
									</div>
							{% endfor %}
						{% else %}
							<div class="alert alert-warning">
								<p>
									<strong>{{user.userName}}</strong> n'a pas encore d'annonce sur le site
								</p>
							</div>
						{% endif %}
                    
                    </div>
				</div>
			</div>


		</div>

	</div>
</div>


