{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}

	<section>
		<div class="container">
			<div class="form">
				<h2>Connexion</h2>
				<form method="post" class="connection">
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}

					{% if app.user %}
						<div class="mb-3">
							You are logged in as
							{{ app.user.userIdentifier }},
							<a href="{{ path('app_logout') }}">Logout</a>
						</div>
					{% endif %}

					<!-- Email input -->
					<div class="form-outline mb-4">
						<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
						<label class="form-label" for="form2Example1">Nom d'utilisateur</label>
					</div>

					<!-- Password input -->
					<div class="form-outline mb-4">
						<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
						<label class="form-label" for="form2Example2">Mot de passe</label>
					</div>

					<input
					type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

					{# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
					See https://symfony.com/doc/current/security/remember_me.html #}

					
					<div class="col d-flex ">
						<!-- Checkbox -->
						<div class="form-check">
							<input type="checkbox" name="_remember_me">
							<label class="form-check-label" for="form2Example31">
								Remember me
							</label>
						</div>
					</div>

					<input type="submit" class="btn" name="formlogin" id="formlogin" value="Connexion" required>
					<p class="forget">Mot de passe oublié ?
						<a href="forget_pass.php">Cliquez ici</a>
					</p>
					<p class="forget">Vous n'avez pas de compte ?
						<a href="{{ path('app_register') }}">S'inscrire</a>
					</p>
					<!-- Register buttons -->
					

				</form>
			</div>
		</div>
	</section>

{{ encore_entry_link_tags('log_reg') }}{% endblock %}
