<nav class="header__menu">
	<ul class="menu">
		<li id="" class="">
			<a href="{{ path('home') }}" aria-current="page">Accueil</a>
		</li>
		<li id="" class="">
			<a href="{{ path('voitures_index') }}" aria-current="page">Voitures</a>
		</li>
		<li>
		{% if is_granted('ROLE_USER') %}
			<a class="nav-link" href="{{ path('app_logout') }}">Deconnexion</a>
		{% else %}
			<a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
		{% endif %}
		</li>
		<li>
		{% if is_granted('ROLE_ADMIN') %}
			<a href="{{ path('admin') }}">ADMIN</a>
		{% endif %}
		</li>

	</ul>

	{# <a class="toggle-menu js-toggle-menu" href="#">
			<span class="toggle-menu__line"></span>
			<span class="toggle-menu__line"></span>
			<span class="toggle-menu__line"></span>
			<span class="toggle-menu__line"></span>
			<span class="toggle-menu__line"></span>
		</a> #}
</nav>