{% extends 'base.html.twig' %}

{% block title %}Edit Voitures{% endblock %}

{% block body %}

    <div id="zoneScroll" class="container createCar">
        <h1>Edit {{voiture.marques}} {{voiture.modelName}}</h1>


        {{ include('voitures/partials/_form.html.twig', {'button_label': 'Update'}) }}
        {{ include('voitures/partials/_delete_form.html.twig') }}
        <a class="p-2" href="{{ path('voitures_index') }}">back to list</a>
        

            <h2>Images</h2>
            <div class="row">

                {# !affichage et delete des images #}
                {% for image in voiture.imagesVoitures %}

                    <div class="col-3">
                        <img src="{{ vich_uploader_asset(image, 'imageFile') }}" class="w-100"/>
                        {{ include('voitures/partials/_delete_image.html.twig') }}
                    </div>

                {% endfor %}
            </div>

    </div>

    {{ encore_entry_link_tags('voiture_cud') }}
{% endblock %}



{# {% block javascripts %}
    {{ encore_entry_script_tags('imageDelete') }}
{% endblock %} #}