{% extends 'base.html.twig' %}

{% block title %}
    
{% endblock %}

{% block body %}


    <div id="section">
        {# ! message flash #}
        {% for label, messages in app.flashes %}
			<div class="container">
				<div class="alert alert-{{label}}">
					{% for message in messages %}
						<p>{{message | raw }}</p>
					{% endfor %}
				</div>
			</div>
		{% endfor %}

        <div class="voiture-content content row">

            <div class="col-3 col-md-3">
                <div id="filterMenu">
                    {# {% include "voitures/partials/_filterMenu.html.twig" %} #}
                </div>
                {# {% include "partials/filterMenu.html.twig" %} #}
            </div>
            <div class="col-sm-9 col-md-9">
                <div class="voitureCard">
                    {% include "voitures/partials/_showVoitures.html.twig" %}
                </div>
                {# {% include "partials/_showVoitures.html.twig" %} #}
                {{ knp_pagination_render(voitures) }}
            </div>

        </div>

        {# ------------footer show Index------------ #}
        <footer class="site-footer pv-medium animated">
            {% include "/partials/_footer.html.twig" %}
        </footer>

    </div>
    
    {{ encore_entry_link_tags('show') }}
    
    {# {{ encore_entry_link_tags('select') }} #}
{% endblock %}