<!-- Carousel wrapper -->
<div
	id="carouselExampleIndicators" class="carousel slide carousel-fade" data-mdb-ride="carousel">
	<!-- Slides -->
	<div class="carousel-inner mb-5">
		{% for image in voiture.imagesVoitures %}
			{% if loop.index0 == 0 %}
				<div class="carousel-item active">
					<img src="{{ vich_uploader_asset(image, 'imageFile') }}" class="d-block w-100" alt="..."/>
				</div>
			{% else %}
				<div class="carousel-item">
					<img src="{{ vich_uploader_asset(image, 'imageFile') }}" class="d-block w-100" alt="..."/>
				</div>
			{% endif %}
		{% endfor %}
	</div>
	<!-- Slides -->

	<!-- Controls -->
	<button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
	<!-- Controls -->

	<!-- Thumbnails -->
	<div class="carousel-indicators" style="margin-bottom: -20px;">
		{% for image in voiture.imagesVoitures %}
			<button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="{{loop.index0}}" {% if loop.first %}  class="active" aria-current="true" {% endif %} aria-label="Slide {{loop.index}}" style="width: 100px;">
				<img src="{{ vich_uploader_asset(image, 'imageFile') }}" class="d-block w-100" alt="..."/>
			</button>
		{% endfor %}

	</div>
	<!-- Thumbnails -->
</div>
<!-- Carousel wrapper -->
