{% for voiture in voitures %}
<a href="{{ path('voiture_show', {slug: voiture.slug} ) }}"></a>

  <div class="blog-card">
    <div class="meta">
      <div class="photo" style="background-image: url({{ vich_uploader_asset(voiture.imagesVoitures[0], 'imageFile') }})"></div>
    </div>
    <div class="description">
      <h3>{{voiture.marques|upper}} {{voiture.modelName|upper}} {{voiture.date|date('Y')}}</h3>

        <p>{{ voiture.prix|format_currency('EUR') }}</p>

      <p class="read-more">
        <a href="{{ path('voiture_show', {slug: voiture.slug} ) }}">Voir plus</a>
        
      </p>
    </div>
  </div>

{% endfor %}
{# {{ knp_pagination_render(voitures) }} #}

