<div class="voiture-content">
	
	<div class="column left">
	{% include "voitures/partials/_carousel.html.twig" %}
	</div>
	<div class="column right">
		<div class="text">
			<h2>{{voiture.marques|upper}}
				{{voiture.modelName|upper}}</h2>
			<ul class="specs__items animate-list animated">
				<li class="specs__item">
					<h6 class="specs__item-title">Model année</h6>
					<p class="specs__item-value">{{ voiture.date|date('Y') }}</p>
				</li>

				<li class="specs__item">
					<h6 class="specs__item-title">Puissance</h6>
					<p class="specs__item-value">{{ voiture.puissance }} kW </p>
				</li>

				<li class="specs__item">
					<h6 class="specs__item-title">Transmission</h6>
					<p class="specs__item-value">{{ voiture.transmission }}</p>
				</li>

				<li class="specs__item">
					<h6 class="specs__item-title">Carburant</h6>
					<p class="specs__item-value">{{ voiture.carburant }}</p>
				</li>

				<li class="specs__item">
					<h6 class="specs__item-title">Prix</h6>
					<p class="specs__item-value">{{ voiture.prix|format_currency('EUR') }}</p>
				</li>

				<li class="specs__item">
					<h6 class="specs__item-title">Cylindre</h6>
					<p class="specs__item-value">{{ voiture.cylindre }} L</p>
				</li>

				<li class="specs__item">
					<h6 class="specs__item-title">Nombre propi</h6>
					<p class="specs__item-value">{{ voiture.NbrPropi }}</p>
				</li>

				<li class="specs__item">
					<h6 class="specs__item-title">Kilometrage</h6>
					<p class="specs__item-value">{{ voiture.kilometrage }} KM</p>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="container description">
	<div class="descr__item">
		<h6 class="desc__title">Description</h6>
		<div class="descr">
			{{ voiture.description|raw }}
		</div>
	</div>
</div>


{% if voiture.user is same as (app.user) or is_granted('ROLE_ADMIN') %}
	<div class="controlCardUserP">
		<a class='btn btn-warning' href="{{ path('voitures_edit', {slug: voiture.slug}) }}">Modifier</a>
		{{ include('voitures/partials/_delete_form.html.twig')}}
	</div>
{% endif %}